In [4]:
import pandas as pd

In [30]:
df_test = pd.read_csv("/home/enzo/Documents/git/ghost_experiments/analyse_undated/results/combined_spr_classifications.csv")

In [36]:
((df_test["receiver"] == df_test["induced_donor"]) & (df_test["receiver"] == df_test["donor"])).sum()

np.int64(0)

In [ ]:
df_path = "/home/enzo/Documents/git/ghost_experiments/analyse_undated/results/combined_spr_classifications.csv"
df = pd.read_csv(df_path)
df_4 = df[df["removed_node"]==4]
donor_is_induced = df_4["donor"] == df_4["induced_donor"]
df_donor_is_induced = df_4[donor_is_induced]
receiver_and_topology_grouped = df_4.groupby(["receiver", "topology_id"]).size().reset_index(name="count")
df_merged = df_donor_is_induced.merge(receiver_and_topology_grouped, on=["receiver", "topology_id"], how="left")
df_merged = df_merged[["receiver", "count"]]
df_merged

    receiver  count
0         13      3
1          7      2
2          6      3
3          2      3
4          8      2
5          5      3
6         12      2
7         14      2
8          9      2
9         11      2
10        17      2
11        16      2
12        10      2
13        18      2
14        15      2

In [40]:
df_donor_is_induced

     donor  receiver  topology_id  removed_node  induced_donor
46       3        13            1             4              3
58       3         7            3             4              3
61       3         6            3             4              3
63       3         2            3             4              3
64       3         8            3             4              3
75       3         5            3             4              3
92       3        12            8             4              3
98       3        14            9             4              3
105      3         9           12             4              3
113      3        11           16             4              3
134      3        17           32             4              3
147      3        16           43             4              3
186      3        10           69             4              3
191      3        18           72             4              3
216      3        15           94             4              3

In [ ]:
topology_counts = df_4.groupby("topology_id")["topology_id"].count()

In [17]:
# only keep rows of df_4 such that the corresponding topology is in more than 1 row
df_filtered = df_4[df_4["topology_id"].isin(topology_counts[topology_counts > 1].index)]

In [18]:
df_filtered

     donor  receiver  topology_id  removed_node  induced_donor
44      14         7            1             4              3
45       2        13            1             4              3
46       3        13            1             4              3
47       7         8            1             4              3
48       7        14            1             4              3
..     ...       ...          ...           ...            ...
195      7        17           76             4              3
196     18        12           76             4              3
197     12        18           76             4              3
215      2        15           94             4              3
216      3        15           94             4              3

[97 rows x 5 columns]

In [19]:
df_from_induced = df_filtered[df_filtered["donor"] == 3]

In [20]:
df_from_induced

     donor  receiver  topology_id  removed_node  induced_donor
46       3        13            1             4              3
58       3         7            3             4              3
61       3         6            3             4              3
63       3         2            3             4              3
64       3         8            3             4              3
75       3         5            3             4              3
92       3        12            8             4              3
98       3        14            9             4              3
105      3         9           12             4              3
113      3        11           16             4              3
134      3        17           32             4              3
147      3        16           43             4              3
186      3        10           69             4              3
191      3        18           72             4              3
216      3        15           94             4              3